@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    margin: 0;
    padding: 0;
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #fcb69f;
}

body {
    font-family: var(--sm-font);
    background-color: #fcb69f;
    width: 100%;
    padding-top: 50px;
}

/* button */
.bg-primary {
    background-color: var(--pink) !important;
}

.btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(218, 66, 29);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover {
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}


.btn i {
    color: white;
}


/* text color */
.text-primary {
    color: var(--pink) !important;
}

/* navbar */
.navbar {
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    background-color: #0a0619;
}


/*   custom style to hide the navbar */


.navbar.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}


.navbar-brand img {
    width: 100px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    font: bold;
    color: var(--pink) !important;
    background-color: rgb(57, 214, 241);
    border-radius: 10px;
}

.nav-item {
    border-radius: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.whatsapp-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;

}

.whatsapp-icon img {
    width: 70px;
    height: 70px;
}


/* title */
.title {
    margin: 20px;
    padding: 10px;
}

.title p {
    margin: 20px;

}

.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: #0a0619;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}




/* collection */
.active-filter-btn {
    background-color: var(--pink) !important;
    color: #fff !important;
    border-color: var(--pink) !important;
}

.filter-button-group .btn:hover {
    color: #fff !important;
}






/* about */
#about {
    background-color: rgba(179, 179, 179, 0.05);
}


/* footer */
footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--pink) !important;
}

/* media queries */
@media(min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}







/* bed container start  */
/* styles.css */
/****------------------------------  HEADER   ---------------------------**/

header {
    /* margin-bottom: 5rem;
    margin-left: 20px;
    margin-right: 10;
    padding: 0; */
    width: 100%;
    display: inline-block;
    background-color: #fcb69f;
    margin-top: 110px;
}

/* styles.css */

.bed {
    /* font-family: Arial, sans-serif; */
    background-color: #fcb69f;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
header h2{
    margin-bottom: 30px;
}
/*.para-container::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 70px;
    border: 2px solid black;
    top: -15px;
    left: -25px;


}
.para-container::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 70px;
    border: 2px solid black;
    bottom: -10px;
    right: -15px;
    z-index:-1;


}
*/

.para-wrapper{
    position: relative;
    z-index: 0;
}
.para-wrapper .box1{
    width: 70px;
    height: 70px;
    position: absolute;
    top: -5%;
    left: 10.5%;
    border: 2px solid black;
    z-index: -1;

}
.para-container {
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    background-color: #fff;
    border: 2px solid black;
    z-index: 0;

}
.para-container span{
    color: orangered;
    font-size: 17px;
    font-weight: 500;
}

.para-wrapper .box2{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 11%;
    bottom: -5%;
    z-index: -1;
    border: 2px solid black;

}
.para-container p{
    margin: 4px;
    position: relative;
}
/*.para-container p{
    width: 650px;
    height: 150px;
    border: 1px solid black;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
*/

.product-main-container h2{
    width: 41%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    border-left: 4px solid black;
}
.product-container {
    width: 1200px;
    margin: 30px auto 15px;
    background-color: #524047;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.product-container h1 {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.product-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto;
}

.product-image img {
    width: 350px;
    height: 300px;
    margin-right: 15px;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); */


    pointer-events: none;

    -moz-user-drag: none;
    -webkit-user-drag: none;

}

/*
  .product-image h3 {
    color: white;
  }
  */

.product-details {
    width: 700px;
    height: auto;
    padding: 20px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #0a0619;
    border-radius: 10px;

}

.product-details ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

.product-details li {

    margin-bottom: 10px;
    position: relative;
    color: white;
}

.product-details li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #ffffff;
}

.product-features li {
    padding-left: 20px;
    margin-bottom: 10px;
    position: relative;
}




/* bed container end  */
/******------------------------ MEDIA QUERIES FOR MOBILE SCREEN --------------------------***/

@media screen and (max-width:480px){
    .bed {
        /* font-family: Arial, sans-serif; */
        background-color: #fcb69f;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    header h2{
        margin-bottom: 30px;
        font-size: 20px;
    }
    .para-wrapper .box1{
        display: none;
    }

    .para-wrapper .box2{
        display: none;
    }

    .para-container {
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 2px solid black;

    
    }
    .para-container p{
        margin: 4px;
        position: relative;
        font-size: 16px;
    }
    
    .product-main-container h2{
        width: 90%;
        height: 60px;
        line-height: 60px;
        margin: 0 auto;
        font-size: 20px;
        border-left: 4px solid black;
    }
    .product-container {
        width: 100%;
        margin: 30px auto 15px;
        background-color: #524047;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    
    }
    
    .product-container h1 {
        width: auto;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;
        text-align: center;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .product-content {
        flex-direction: column;
    }
    
    .product-image img {
        width: 250px;
        height: 200px;
        margin-right: 15px;
        margin-bottom: 30px;
        /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); */
    
    
        pointer-events: none;
    
        -moz-user-drag: none;
        -webkit-user-drag: none;
    
    }
    
    /*
      .product-image h3 {
        color: white;
      }
      */
    
    .product-details {
        width: 100%;
        height: auto;
        box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #0a0619;
        border-radius: 10px;
    
    }
    
    .product-details ul {
        width: 100%;
        list-style: none;
        padding: 0;
    }
    
    .product-details li {
    
        font-size: 16px;
        margin-bottom: 10px;
        position: relative;
        color: white;
    }
    
    .product-details li::before {
        content: "•";
        position: absolute;
        left: 0;
        color: #ffffff;
    }
    
    .product-features li {
        margin-bottom: 10px;
        position: relative;
    }
    

}

/******------------------------MEDIA QUERIES FOR TABLET SCREEN  ----------***/
@media screen and (min-width:480px) and (max-width:1024px){
    .bed {
        /* font-family: Arial, sans-serif; */
        background-color: #fcb69f;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    header h2{
        margin-bottom: 30px;
        font-size: 32px;
    }
    .para-wrapper .box1{
        display: none;
    }

    .para-wrapper .box2{
        display: none;
    }

    
    .para-container {
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 2px solid black;
        border-radius: 5px;
    
    }
    .para-container p{
        margin: 4px;
        position: relative;
        font-size: 17px;
    }
    
    .product-main-container h2{
        width: 70%;
        height: 60px;
        line-height: 60px;
        margin: 0 auto;
        font-size: 32px;
        border-left: 4px solid black;
    }
    .product-container {
        width: 100%;
        margin: 30px auto 15px;
        background-color: #524047;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    
    }
    
    .product-container h1 {
        width: auto;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;
        text-align: center;
        color: white;
        font-size: 26px;
        text-transform: uppercase;
    }
    
    .product-content {
        flex-direction: column;
    }
    
    .product-image img {
        width: 450px;
        height: 250px;
        margin-right: 15px;
        margin-bottom: 30px;
        /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); */
    
    
        pointer-events: none;
    
        -moz-user-drag: none;
        -webkit-user-drag: none;
    
    }
    
    /*
      .product-image h3 {
        color: white;
      }
      */
    
    .product-details {
        width: 100%;
        height: auto;
        box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #0a0619;
        border-radius: 10px;
    
    }
    
    .product-details ul {
        width: 100%;
        list-style: none;
        padding: 0;
    }
    
    .product-details li {
    
        font-size: 17px;
        margin-bottom: 10px;
        position: relative;
        color: white;
    }
    
    .product-details li::before {
        content: "•";
        position: absolute;
        left: 0;
        color: #ffffff;
    }
    
    .product-features li {
        margin-bottom: 10px;
        position: relative;
    }
    

}
